.errIndicator {
    text-align: center;
    padding: 2px;
    margin: 2px;
    background-color: red;
    height: 320px;
    border-radius: 5px;
    border: solid 2px darkgrey;
}

img{
    height: 295px;
    padding-top: 15px;
}

.errMessage{
    color: white;
    text-justify: distribute;
}

