.btn-block.btn-outline-info {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn-block.btn-outline-warning {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn-block.btn-outline-danger {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}