.random {
    text-align: center;
    padding: 2px;
    margin: 2px;
    color: #2aaacf;
    background-color: #1b1e20;
}

img {
    margin-bottom: 3px;
    margin-right: 3px;
    height: 295px;
    border-radius: 5px;
}

.list-group-item {
    text-align: left;
    margin: 0;
}

.btn-block.btn-outline-info {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn-block.btn-outline-warning {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn-block.btn-outline-danger {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}